{% extends 'homepage.html' %}

{% block ingredients_of_recipe %}
<div class="item">
  {% set num_ingredients = recipe.ingredients|length %} 
  {% if num_ingredients < 2 %}
    {% set noun = 'Ingredient' %}
  {% else %}
    {% set noun = 'Ingredients' %}
  {% endif %}
  <h2>{{ recipe.name }}</h2>
  <h3>Ingredients ({{ num_ingredients }} {{ noun }})</h3>
  {% for ingredient in recipe.ingredients %}
    {{ ingredient.name }}
    <br>
  {% endfor %}
  <h3>Direction </h3>
   {% for description in recipe.description %}
    {{ description.description }}
    <br>
  {% endfor %}
  <hr>
  <a href='{{ url_for('homepage') }}'>Home</a>
</div>
{% endblock %}
