{% extends 'base.html' %}

{% block show_item %}
<div class="row">
  <div class="item">
    <h2>{{ item.name }}</h2>
    <u>owner: {{ item.user.name }}</u>
    <br>
    {% for line in item.description.splitlines() %}
      {{ line }}
      <br>
    {% endfor %}
    <br>
    <a href='{{ url_for('edit_item', item_name=item.name) }}'>Edit</a>
    |
    <a href='{{ url_for('delete_item', item_name=item.name) }}'>Delete</a>
    |
    <a href='{{ url_for('json_endpoint', item_name=item.name) }}'>JSON</a>
    <hr> 
    <a href='{{ url_for('items_of_category', category_name=item.category.name) }}'>Category</a>
    |
    <a href='{{ url_for('homepage') }}'>Home</a>
  </div>
</div>
{% endblock %}
